- @program.errors.full_messages.each do |err|
  %li= err
=form_for @program do |f|
  = f.label 'Adı : '
  = f.text_field :name
  %br
  = f.label 'İçerik : '
  = f.text_field :content
  %br
  = f.label 'Link : '
  = f.text_field :link
  %br
  = f.button :Gönder
