- @post.errors.full_messages.each do |err|
  %li= err
=form_for @post do |f|
  = f.label 'Başlık : '
  = f.text_field :title
  %br
  = f.label 'İçerik : '
  = f.text_field :body
  %br
  = f.select :category_id, @categories
  = f.button :Gönder
