= render 'top'
.ortalaBlog
  .yazilar
    -@posts.order('created_at desc').each do |post|
      .yazi
        .postBaslik
          %b
            %h2= link_to post.title, post_path(post)
          .yaziBilgisi= post.created_at
        %hr
        %p
          =post.body
  .sag
    .widget
      %h3= 'Son Yazılar'
      %hr
      %ul
        -@posts.order('created_at desc').last(5).each do |post|
          %li= link_to post.title, post_path(post)
