=render :template => 'layouts/top'
.ortalaAna
  .yazilar
    -@posts.order('created_at desc').each do |post|
      .yazi
        .ustr
          %h2= link_to post.title, post_path(post)
          .yazibilgisi Alperen Bozkurt tarafından #{post.created_at} tarihinde yayınlandı.
          %hr/
        %p
          .markdown
            - if markdown(post.body).index('</h2>') != nil
              = markdown(post.body)[markdown(post.body).index('</h2>')+5..(markdown(post.body).index('<h2>',markdown(post.body).index('</h2>'))-1)].html_safe
            - else
              = markdown(post.body)
        %p
          =link_to 'Devamını Gör', post_path(post)
.sag
  .widget
    %h3 Son Yazılar
    %hr/
    %ul
      -@posts.order('created_at desc').last(5).each do |post|
        %li= link_to post.title, post_path(post)

.footer
  .ortala
    .copy AlperenBozkurt 2015-2017 | Bazı Hakları Saklıdır.
    .copyy
      %img{:height => "20", :src => "https://creativecommons.org/wp-content/themes/creativecommons.org/images/chooser_cc.png", :width => "20"}/
      %img{:height => "20", :src => "https://creativecommons.org/wp-content/themes/creativecommons.org/images/chooser_by.png", :width => "20"}/
      %img{:height => "20", :src => "https://creativecommons.org/wp-content/themes/creativecommons.org/images/chooser_sa.png", :width => "20"}/
      | Tasarım ve kodlama Alperen Bozkurt
