=render :template => 'layouts/top'
.ortalaAna
  .yazilar
    .yazi
      .ustr
        %h2= link_to @post.title, post_path(@post)
        .yazibilgisi Alperen Bozkurt tarafından #{@post.created_at} tarihinde yayınlandı.
        %hr/
      %p
        =@post.body
      %p
        =link_to @post.category.name, category_path(@post.category)
        Kategorisine sahip bu post #{@post.show} kere görüntülendi.
      %hr/
      %p
        #disqus_thread
        :javascript
          var disqus_config = function () {
          this.page.url ="#{request.original_url}";
          this.page.identifier = "#{@post.id}";
          };

          (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = '//rblog-1.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();

        %noscript
          Please enable JavaScript to view the
          %a{href: "https://disqus.com/?ref_noscript", rel: "nofollow" }
          comments powered by Disqus.

        - if current_user.present?
          = link_to 'Düzenle', edit_post_path
          = link_to 'Sil', post_path, method: :delete
        
.sag
  .widget
    %h3 Son Yazılar
    %hr/

.footer
  .ortala
    .copy AlperenBozkurt 2015-2017 | Bazı Hakları Saklıdır.
    .copyy
      %img{:height => "20", :src => "https://creativecommons.org/wp-content/themes/creativecommons.org/images/chooser_cc.png", :width => "20"}/
      %img{:height => "20", :src => "https://creativecommons.org/wp-content/themes/creativecommons.org/images/chooser_by.png", :width => "20"}/
      %img{:height => "20", :src => "https://creativecommons.org/wp-content/themes/creativecommons.org/images/chooser_sa.png", :width => "20"}/
      | Tasarım ve kodlama Alperen Bozkurt
